@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/SourceSerifPro-It.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/SourceSerifPro-Regular.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/SourceSerifPro-Bold.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/SourceSansPro-Bold.otf.woff2') format('woff2');
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('../fonts/SourceSansPro-Black.otf.woff2') format('woff2');
}

body {
 font-family: "Source Serif Pro", serif;
 font-size: 100%;
 /*font-size: 150%;*/
 /* width: 800px; */
 /* margin: auto; */
 line-height: 1.6em;
 color: #202020;
 border-style: none; 
 background-color: #f9f8fc;
}

h1, h2, h3 {

 padding: 0px;
 margin-top: 15px; 
 line-height: normal; 
 margin-bottom: 10px;
 /*font-size: 1.3em;*/

}

p {

 font-size: 20px;
 margin-top: 0px; 
 margin-bottom: 10px;

}

img {

    max-width: 100%;

}

li {
  font-size: 20px;

  }

a:link {

 color: #000000;
 

}

a:visited {

 text-decoration: none;
 color: #000000;

}

a:hover {

 text-decoration: none;
 color: #808080;

}

a:active {

 text-decoration: none;
 color: #808080;

}


a {

 text-decoration: none;
 text-indent: 100%;
 white-space: nowrap;
 overflow: hidden;

}

h1 a {

    text-decoration:none;
    color: #000000;

}

th, td {

    padding: 0;
    /* border: 1px solid black; */
    border-collapse: collapse;

}

.composition {

   padding: 10px;

}

.composition p, a {

   font-size: 20px;

}

.papers {

   padding: 5px;

}

.papers p a {

   font-size: 20px;

}

.siteHeader a {

font-size: 20px;

}

.activismHeader h2, a {

font-size: 20px;

}

.phospheneFooter {

margin-top: 30px;

}
/* Rule to fix quirks-mode inheritance behavior */
table, caption { 

  font-size: inherit; 
  font-weight: inherit; 
  font-style: inherit; 
  font-variant: inherit; 
  border-collapse: collapse; 

} 
